body {
    font-family: 'Nunito', sans-serif;
    background-color: #ffe6f2;
    color: #333;
    margin: 0;
    padding: 24px;
}

header {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background: #ffb6c1;
    padding: 24px;
    border-radius: 12px;
}

section {
    margin: 20px 0;
    font-family: 'Nunito', sans-serif;
    padding: 12px;
    background: white;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h1{
    font-family: 'Nunito', sans-serif;
}
a {
    color: #d63384;
}
